body {
	background-color: #f0fff0;
}

h1 {
	text-align: center;
	border: 1px solid #808080;
	border-radius: 5px;
}

.lasagna,
.pancake {
	margin-top: 50px;
}

.main-container {
	display: flex;
	gap: 10px;
}

h3,
h4 {
	margin-left: 25px;
	color: #0000ff;
	text-decoration: underline;
}

p,
a {
	margin-left: 25px;
}
