body {
	background-color: #fff0f5;
}

h1 {
	text-align: center;
	border: 1px solid #808080;
	border-radius: 5px;
}

img {
	width: 900px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	margin-top: 40px;
	margin-left: 30px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

ul,
li,
a {
	text-decoration: none;
	color: #0000ff;
}
